@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap");
.inicio__section, .staff, .modal-body, .contacto__form, .error__div {
  display: flex;
  justify-content: center;
  align-items: center; }

.inicio__section img, .staff__section, .carousel-inner {
  outline: 0.2rem solid #f7f7f7; }

.planes-btn, .planes-btn:focus, .planes-btn:hover {
  background-color: #8f13ce;
  outline: #8f13ce;
  border: #8f13ce;
  color: #fff; }

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

main {
  margin-top: 8rem;
  min-height: 100vh;
  background-image: url(../imagenes/bgheader.png);
  background-repeat: no-repeat;
  background-size: cover; }
  main section p {
    text-align: justify;
    line-height: 2rem; }

.navbar__logo {
  width: 6rem;
  margin-left: 4rem;
  transition: transform 1s; }
  .navbar__logo:hover {
    transform: scale(1.2, 1.2); }

.navbar__nombre {
  color: #f7f7f7; }
  .navbar__nombre h3, .navbar__nombre h4 {
    font-family: 'Koulen', cursive;
    letter-spacing: 0.2rem; }

.nav-link {
  font-family: 'Koulen', cursive;
  letter-spacing: 0.1rem; }

.active {
  color: #8f13ce !important; }

.inicio {
  color: #f7f7f7;
  padding: 3rem; }
  .inicio__section {
    padding: 2rem 5rem; }
    .inicio__section:first-child {
      display: flex;
      flex-direction: column; }
    .inicio__section__parrafo {
      margin: 2rem 0;
      padding: 0 15rem;
      text-align: center; }
    .inicio__section__lista {
      margin-top: 3rem 4rem 3rem 4rem; }
      .inicio__section__lista__item {
        padding: 1rem; }
        .inicio__section__lista__item span {
          font-weight: bold;
          font-size: 1rem; }
    .inicio__section h1 {
      text-align: center; }
    .inicio__section h6 {
      text-align: center; }
    .inicio__section img {
      width: 80vw;
      height: 70vh; }

.staff__section {
  display: flex;
  width: 50vw;
  background-color: #8f13ce; }
  .staff__section__div img {
    margin: 2rem 2rem 2rem 1rem;
    height: 50vh; }
  .staff__section__div h4 {
    color: #f7f7f7;
    margin: 1rem 2rem 0 2rem;
    text-align: center;
    font-weight: bold; }
  .staff__section__div h6 {
    color: #f7f7f7;
    margin: 0 2rem;
    text-align: center; }
  .staff__section__div p {
    margin: 1rem 2rem;
    color: #f7f7f7; }
  .staff__section__div span {
    font-weight: bold; }

.planes {
  margin-top: 8rem; }
  .planes__section {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10rem;
    gap: 5rem; }

.card {
  background-color: #000; }
  .card-body {
    background-color: #fff;
    color: #000; }
  .card-header {
    background-color: #8f13ce;
    color: #f7f7f7;
    font-family: 'Koulen', cursive;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem; }

.modal {
  color: #000; }
  .modal-body {
    flex-direction: column;
    font-weight: bold; }
    .modal-body h5 {
      font-weight: bold; }

.galeria {
  width: 100%;
  margin-top: 5rem;
  min-height: 108vh; }

.carousel {
  width: 98vw;
  padding-top: 5rem;
  display: flex;
  justify-content: center; }
  .carousel-item {
    height: 80vh; }
    .carousel-item img {
      height: 100%; }

.carousel-inner {
  width: 60vw;
  max-height: 80vh; }

.contacto {
  display: flex;
  justify-content: center; }
  .contacto__form {
    flex-direction: column;
    margin-top: 4rem;
    width: 30vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 5%; }
  .contacto label {
    font-size: 1.1;
    border-bottom: 0.1rem solid #8f13ce; }
  .contacto div:not(.form-check) {
    width: 50%; }
  .contacto ::placeholder {
    color: #000; }

.form-check {
  margin: 0 auto;
  width: fit-content; }
  .form-check label {
    border: none; }

.btn-inscripcion {
  background-color: #8f13ce;
  outline: #8f13ce;
  border: #8f13ce;
  width: 50%; }
  .btn-inscripcion:hover {
    background-color: #8f13ce;
    outline: #8f13ce;
    border: #8f13ce;
    color: #000; }

.footer a {
  text-decoration: none; }

.footer img {
  width: 7rem;
  border-radius: 50%; }

.error {
  padding: 5rem; }
  .error__div {
    flex-direction: column; }
    .error__div h1 {
      color: #f7f7f7; }
    .error__div img {
      margin: 2rem 0rem; }
    .error__div a {
      color: #f7f7f7;
      font-size: 2rem; }

@media only screen and (max-width: 1440px) {
  .inicio__section__parrafo {
    margin: 2rem 0;
    padding: 0 5rem;
    text-align: center; }
  .staff__section {
    width: 80vw; }
  .planes__section {
    margin-top: 2rem;
    padding-top: 2rem;
    width: 60vw; }
  /*   .form-check {
        padding-left: 5rem;
    }*/ }

@media only screen and (max-width: 1024px) {
  .navbar__logo {
    width: 6rem;
    margin-left: 2rem; }
  .inicio__section {
    padding: 2rem 2rem; }
    .inicio__section__parrafo {
      text-align: left; }
  .galeria {
    margin-top: 5rem;
    min-height: 120vh; }
  .staff__section {
    width: 85vw; }
  .planes__section {
    width: 80vw; }
  .contacto__form {
    width: 60vw; }
  /*     .form-check {
        padding-left: 8rem;
    } */
  .error__div {
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .navbar__nombre h3 {
    font-size: 3rem; }
  .navbar__nombre h4 {
    display: none; }
  .navbar__logo {
    margin-left: 1rem; }
  main {
    margin-top: 2rem; }
  .inicio {
    margin-top: 5rem;
    padding-top: 5rem; }
    .inicio__section {
      padding: 0; }
      .inicio__section img {
        height: 40vh; }
  .staff {
    margin-top: 8rem;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    .staff__section {
      width: 85vw;
      flex-direction: column;
      align-items: center; }
      .staff__section__div {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .staff__section__div img {
          margin: 0;
          padding-top: 1rem; }
  .planes {
    margin-top: 2rem; }
    .planes__section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      margin-top: 6rem;
      gap: 2rem; }
  .galeria {
    width: 100%;
    padding: 0;
    min-height: 60vh; }
  .carousel {
    width: 95vw;
    margin-left: 1rem; }
    .carousel-item {
      height: 40vh; }
  .carousel-inner img {
    /*             height: 40vh; */
    width: 90vw; }
  .contacto__form {
    margin-top: 8rem;
    width: 80vw; }
  /*     .form-check {
        padding-left: 8rem;
    } */
  .error {
    margin-top: 4rem; } }

@media only screen and (max-width: 480px) {
  .navbar__nombre h3 {
    font-size: 1.6rem; }
  .inicio__section__parrafo {
    text-align: justify;
    padding: 0; }
  .inicio__section img {
    width: 80vw; }
  .staff__section__div img {
    height: 40vh; }
  .planes h4 {
    font-size: 1.5rem; }
  .carousel-item img {
    object-fit: cover; }
  .carousel-inner {
    width: 80vw;
    height: 40vh; }
  .contacto__form {
    margin-top: 8rem;
    width: 80vw; }
    .contacto__form div {
      width: 80%; }
  /*     .form-check {
        padding-left: 7rem;
    } */
  .error {
    margin-top: 8rem;
    padding: 2rem; }
    .error__div h1 {
      font-size: 1.5rem; }
    .error__div img {
      width: 80vw; }
    .error__div a {
      font-size: 1rem; } }

@media only screen and (max-width: 320px) {
  .carousel {
    width: 90vw;
    margin-left: 1rem; }
  .staff {
    padding-top: 4rem;
    padding-bottom: 2rem; }
  .planes__section {
    width: 95vw; }
  /*     .form-check {
        padding-left: 5rem;
    } */ }
