/////// VARIABLES /////////

@import './base/variables';

/////// PARTIALS /////////

@import './components/general';
@import './components/header';
@import './components/inicio';
@import './components/staff';
@import './components/planes';
@import './components/galeria';
@import './components/contacto';
@import './components/footer';
@import './components/404';

/////// MEDIA QUERIES ///////

@import './mediaQueries/media1440';
@import './mediaQueries/media1024';
@import './mediaQueries/media768';
@import './mediaQueries/media480';
@import './mediaQueries/media320';
