@import './base/variables';

@import './components/general';
@import './components/header';
@import './components/inicio';
@import './components/staff';
@import './components/planes';
@import './components/galeria';
@import './components/contacto';
@import './components/footer';

