@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');

.navbar__logo {
    width: 6rem;
}

.navbar__nombre {
    color: white;
}

main {
    margin-top: 10rem;
    min-height: 100vh;
}

main section p {
    text-align: justify;
    line-height: 2rem;
}

.staff {
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff__section {
    margin: 2rem;
}

.staff__section__h3 {
    text-align: center;
}

.planes {
    margin-top: 8rem;
    background-image: url(./imagenes/bgheader.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.planes__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10rem;
    gap: 5rem;
}

.card {
    background-color: black;
}

.card-body {
    background-color: rgba(170, 32, 250, 0.863);
    color: white;
}

.card-header,
.card-footer {
    background-color: rgb(206, 206, 206);
}

.modal {
    color: black;
}

.galeria {
    width: 80%;
}

.carousel-inner img {
    height: 80vh;
}

.carousel {
    width: 80vw;
}

.footer a {
    text-decoration: none;
}

.footer img {
    width: 7rem;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .navbar__nombre h4 {
        display: none;
    }

    .planes__section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 10rem;
        gap: 2rem;
    }

    .galeria {
        width: 100%;
        padding: 0;
    }

    .carousel {
        width: 100vw;
    }

    .carousel-inner img {
        margin-top: 10rem;
        height: 50vh;
    }
}