@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');

.navbar__logo {
    width: 6rem;
}

.navbar__nombre {
    color: white;
}

main {
    margin-top: 10rem;
    min-height: 100vh;
}

main section p {
    text-align: justify;
    line-height: 2rem;
}

.planes__section {
    display: flex;
    flex-direction: row;
}

.card-body {
    background-color: rgba(129, 2, 202, 0.863);
    color: white;
}

.card-header,
.card-footer {
    background-color: rgb(206, 206, 206);
}

.modal {
    color: black;
}

.carousel-inner img {
    height: 50rem;
}

.carousel {
    width: 80vw;
}

.footer a {
    text-decoration: none;
}

.footer img {
    width: 7rem;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .navbar__nombre h4 {
        display: none;
    }
}