.galeria {
    width: 100%;
    margin-top: 5rem;
    min-height: 108vh;
}

.carousel {
    width: 98vw;
    padding-top: 5rem;
    display: flex;
    justify-content: center;

    &-item {
        img {
            height: 90vh;
        }
    }
}

.carousel-inner {
    @extend %bordes;
    width: 80vw;
}