.galeria {
    width: 100%;
    margin-top: 5rem;
    min-height: 108vh;
}

.carousel {
    width: 98vw;
    padding-top: 5rem;
    display: flex;
    justify-content: center;

    &-item {
        height: 80vh;
        img {
            height: 100%;
        }
    }
}

.carousel-inner {
    @extend %bordes;
    width: 60vw;
    max-height: 80vh;
}