@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 8rem;
    min-height: 100vh;
    background-image: url(../../imagenes/bgheader.png);
    
    @include background(no-repeat,cover);

    section p {
        text-align: justify;
        line-height: 2rem;
    }
}