@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');

* {
    font-family: 'Akshar', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 8rem;
    min-height: 100vh;
    background-image: url(../../imagenes/bgheader.png);
    background-repeat: no-repeat;
    background-size: cover;

    section p {
        text-align: justify;
        line-height: 2rem;
    }
}