.navbar {
    &__logo {
    width: 6rem;
    margin-left: 8rem;
    } 

    &__nombre{
        color: map-get($color-pagina,color-texto);
        
        h3,h4 {
            font-family: 'Koulen', cursive;
            letter-spacing: 0.2rem;
        }
    } 
}

.nav-link {
    font-family: 'Koulen', cursive;
    letter-spacing: 0.1rem;
}

.active {
    color: $color-principal !important;
}