.inicio {
    color: $color-texto;
    padding: 3rem;
    
    &__section {
        @extend %flex-center;
        padding: 4rem 15rem;

        &:first-child {
            display: flex;
            flex-direction: column;
        }

        img {
           @extend %bordes;
        }
    }
}