main {
    margin-top: 8rem;
    min-height: 100vh;
    background-image: url(../../imagenes/bgheader.png);
    background-repeat: no-repeat;
    background-size: cover;

    section p {
        text-align: justify;
        line-height: 2rem;
    }
}

.staff {

    display: flex;
    justify-content: center;
    align-items: center;

    &__section {
    display: flex;
    width: 50vw;
    background-color: $color-principal;
    outline: 0.1rem solid $color-texto;

    &__div {
        img {
            margin: 1rem;    
        }
        p {
            margin: 1rem 2rem;
            color: $color-texto;
        }
    }
    } 
    
    
}