.staff {

    @extend %flex-center;

    &__section {
    display: flex;
    width: 50vw;
    background-color: $color-principal;
    @extend %bordes;

    &__div {
        img {
            margin: 2rem 2rem 2rem 1rem;    
        }
        p {
            margin: 1rem 2rem;
            color: $color-texto;
        }
    }
    }    
}