@media only screen and (max-width: 768px) {
    .navbar__nombre h4 {
        display: none;
    }

    .navbar__logo {
        margin-left: 2rem;
    }

    main {
        margin-top: 2rem;
    }

    .inicio {
        margin-top: 5rem;
        padding-top: 5rem;
    }

    .staff {
        margin-top: 8rem;

        &__section {
            width: 85vw;
            flex-direction: column;
            align-items: center;

            &__div {
                display: flex;
                justify-content: center;

                img {
                    width: 50%;
                }
            }
        }
    }
    
    .planes {
        margin-top: 2rem;

        &__section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin-top: 6rem;
            gap: 2rem;
        }
    }

    .galeria {
        width: 100%;
        padding: 0;
        min-height: 60vh;
    }

    .carousel {
        width: 95vw;
        margin-left: 1rem;
    }

    .carousel-inner img {
        height: 40vh;
        width: 90vw;
    }

    .contacto__form {
        margin-top: 8rem;
        width: 80vw;
    }

    .form-check {
        padding-left: 8rem;
    }
}