@media only screen and (max-width: 480px) {
    
    .inicio__section {
        p {
            text-align: justify;
        }

        img {
            width: 80vw;
        }
    } 
    
    .contacto__form {
        margin-top: 8rem;
        width: 80vw;

        div {
            width: 80%;
        }
    }

    .form-check {
        padding-left: 7rem;
    }

    .error {

        &__div {

            h1 {
                font-size: 1.5rem;
            }

            img {
                width: 80vw;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}