@media only screen and (max-width: 768px) {
    .navbar {

        &__nombre {

            h3 {
                font-size: 3rem;
            }

            h4 {
                display: none;
            }
        }

        &__logo {
            margin-left: 1rem;
            } 
    }

    main {
        margin-top: 2rem;
    }

    .inicio {
        margin-top: 5rem;
        padding-top: 5rem;

        &__section {
            padding: 0;

            img {
                height: 40vh;
            }
        }
    }

    .staff {
        margin-top: 8rem;
        padding-bottom: 2rem;
        padding-top: 2rem;

        &__section {
            width: 85vw;
            flex-direction: column;
            align-items: center;

            &__div {
                display: flex;
                justify-content: center;
                flex-direction: column;

                img {
                   margin: 0;
                   padding-top: 1rem;
                }
            }
        }
    }
    
    .planes {
        margin-top: 2rem;

        &__section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin-top: 6rem;
            gap: 2rem;
        }
    }

    .galeria {
        width: 100%;
        padding: 0;
        min-height: 60vh;
    }

    .carousel {
        width: 95vw;
        margin-left: 1rem;

        &-item {
            height: 40vh;
        }
    }

    .carousel-inner {

        img {
            width: 90vw;
        }
    }

    .contacto {

        &__form {
            margin-top: 8rem;
            width: 80vw;
        }
    }

    .error {
        margin-top: 4rem;
    }
}