@media only screen and (max-width: 1024px) {

    .navbar {
        &__logo {
        width: 6rem;
        margin-left: 2rem;
        } 
    }
    .inicio {

        &__section {
        padding: 2rem 2rem;

        &__parrafo {
            text-align: left;
        }
        }
    }

    .galeria {
        margin-top: 5rem;
        min-height: 120vh;
    }

    .staff {

        &__section {
            width: 85vw;
        }
    }

    .planes {

        &__section {
            width: 80vw;
        }
    }

    .contacto {

        &__form {
            width: 60vw;
        }
    }

    .form-check {
        padding-left: 8rem;
    }

    .error {

        &__div {
            text-align: center;
        }
    }
}