@media only screen and (max-width: 1024px) {

    .inicio {

        &__section {
        padding: 2rem 5rem;
        }
    }

    .galeria {
        margin-top: 5rem;
        min-height: 120vh;
    }

    .staff {

        &__section {
            width: 85vw;
        }
    }

    .planes {

        &__section {
            width: 80vw;
        }
    }

    .contacto {

        &__form {
            width: 60vw;
        }
    }

    .form-check {
        padding-left: 8rem;
    }

    .error {

        &__div {
            text-align: center;
        }
    }
}