@media only screen and (max-width: 320px) {
    .carousel {
        width: 90vw;
        margin-left: 1rem;
    }

    .staff {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .planes {

        &__section {
            width: 95vw;
        }
    }

    .form-check {
        padding-left: 5rem;
    }
}