@media only screen and (max-width: 480px) {
    
    .inicio {

        &__section {
            p {
                text-align: justify;
            }
    
            img {
                width: 80vw;
            }
        } 
    }
    
    .contacto {

        &__form {
            margin-top: 8rem;
            width: 80vw;
    
            div {
                width: 80%;
            }
        }
    }

    .form-check {
        padding-left: 7rem;
    }

    .error {

        margin-top: 8rem;
        padding: 2rem;

        &__div {

            h1 {
                font-size: 1.5rem;
            }

            img {
                width: 80vw;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}