@media only screen and (max-width: 480px) {
    
    .navbar {

        &__nombre {

            h3 {
                font-size: 1.6rem;
            }
        }
    }


    .inicio {

        &__section {
            &__parrafo {
                text-align: justify;
                padding: 0;
            }
    
            img {
                width: 80vw;
            }
        } 
    }

    .staff {
        
        &__section {

            &__div {

                img {
                    height: 40vh;
                }
            }
        }
    }

    .planes {
        h4 {
            font-size: 1.5rem;
        }
    }

    .carousel {

        &-item {
            img {
                object-fit: cover;
            }
        }
    }

    .carousel-inner {
        width: 80vw;
        height: 40vh;
    }
    
    .contacto {

        &__form {
            margin-top: 8rem;
            width: 80vw;
    
            div {
                width: 80%;
            }
        }
    }

/*     .form-check {
        padding-left: 7rem;
    } */

    .error {

        margin-top: 8rem;
        padding: 2rem;

        &__div {

            h1 {
                font-size: 1.5rem;
            }

            img {
                width: 80vw;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}