@media only screen and (max-width: 1024px) {

    .inicio__section {
        padding: 2rem 5rem;
    }

    .galeria {
        margin-top: 5rem;
        min-height: 120vh;
    }

    .staff__section {
        width: 85vw;
    }

    .planes__section {
        width: 80vw;
    }

    .contacto__form {
        width: 60vw;
    }

    .form-check {
        padding-left: 8rem;
    }

    .error {

        &__div {
            text-align: center;
        }
    }
}