@media only screen and (max-width: 1440px) {
    
    .inicio__section {
       
        &__parrafo {
        margin: 2rem 0;
        padding: 0 5rem;
        text-align: center;
        }
    }
    
    .staff {

        &__section {
            width: 80vw;
        }
    }

    .planes {

        &__section {
            margin-top: 2rem;
            padding-top: 2rem;
            width: 60vw;
        }
    }

    .form-check {
        padding-left: 5rem;
    }
}