@media only screen and (max-width: 1440px) {
    .staff__section {
        width: 80vw;
    }

    .planes__section {
        margin-top: 2rem;
        padding-top: 2rem;
        width: 60vw;
    }

    .form-check {
        padding-left: 5rem;
    }
}