@media only screen and (max-width: 1440px) {
    .staff {

        &__section {
            width: 80vw;
        }
    }

    .planes {

        &__section {
            margin-top: 2rem;
            padding-top: 2rem;
            width: 60vw;
        }
    }

    .form-check {
        padding-left: 5rem;
    }
}